<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true" scanPeriod="30 seconds">
   <jmxConfigurator></jmxConfigurator>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/dyconn-fe.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
 </appender>
  <logger name="com.level3" level="DEBUG"/>
  <logger name="org.apache.qpid" level="INFO"/>
   
 
  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>
